@font-face {
    font-family: "Kumbh Sans";
    src: url("../assets/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-dark-cyan: hsl(185, 75%, 39%);
    --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --color-dark-grayish-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
    --fs-1: 1.125rem;
    --fs-2: 0.875rem;
    --fs-3: 0.625rem;
    --fw-regular: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Kumbh Sans";
}

h1, h2, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    height: 100dvh;
    background-color: var(--color-dark-cyan);
    display: grid;
    place-items: center;
}

.card {
    font-weight: var(--fw-regular);
    color: var(--color-dark-grayish-blue);
    width: 20.375rem;
    background-color: var(--color-white);
    border-radius: 12px;
}

.card__top {
    border-bottom: 1px solid var(--color-dark-gray);
}

.card__background {
    height: 8.75rem;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.card__profile-info {
    position: relative;
    padding: 4.5rem 0 1.5625rem;
    text-align: center;
}

.card__profile-info__image {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid var(--color-white);
}

.card__profile-info__heading {
    display: flex;
    justify-content: center;
    gap: 0.5625rem;
    margin-bottom: 0.5625rem;
}

.card__h1, .card__h2 {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    color: var(--color-very-dark-desaturated-blue);
}

.card__p-lg {
    font-size: var(--fs-1);
}

.card__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 1.75rem 1.5625rem;
}

.card__bottom__item {
    text-align: center;
}

.card__p-sm {
    font-size: var(--fs-3);
    letter-spacing: 0.2em;
}

@media screen and (min-width: 48em) {
    .card {
        width: 21.875rem;
    }
}